---
import StudioSpace from '@/components/studio/StudioSpace.astro';
import Button from '@/components/common/Button.astro';
import { HOME_STUDIO_SPACES, SECTION_CONTENT } from '@/utils';
---
<section class="section-padding bg-primary-beige/30">
  <div class="container mx-auto container-padding">
    <div class="max-w-4xl mx-auto text-center prose prose-neutral dark:prose-invert mb-16">
      <h2 class="section-title text-primary-black">{SECTION_CONTENT.studioSpaces.title}</h2>
      <p class="text-lg md:text-xl max-w-3xl mx-auto text-primary-black">
        {SECTION_CONTENT.studioSpaces.description}
      </p>
    </div>
    {HOME_STUDIO_SPACES.map((space) => (
      <StudioSpace 
        id={space.id}
        title={space.title}
        description={space.description}
        image={space.image}
        reverse={space.reverse}
        features={space.features}
        idealFor={space.idealFor}
        titleClass='text-primary-black'
        descriptionClass='text-primary-black'
      />
    ))}
    <div class="text-center mt-8">
      <Button href="/studio-spaces" variant="primary" class="bg-primary-black text-primary-white  hover:text-primary-black hover:outline hover:outline-primary-beige">Ver Todos los Espacios</Button>
    </div>
  </div>
</section>
