---
import { Image } from 'astro:assets';
import Button from './Button.astro';
import { HERO_CONTENT } from '@/utils';

export interface Props {
  title?: string;
  description?: string;
  image?: any;
  buttonText?: string;
  buttonHref?: string;
  overlayClass?: string;
  titleClass?: string;
  textClass?: string;
  descriptionClass?: string;
  buttonVariant?: 'primary' | 'outline' | 'table' | 'custom';
  buttonClass?: string;
  heightClass?: string; // Nueva prop para controlar altura
}
const {
  title = HERO_CONTENT.home.title,
  description = HERO_CONTENT.home.description,
  image = "/images/spaces/principal-optimized.webp",
  buttonText = HERO_CONTENT.home.buttonText,
  buttonHref = HERO_CONTENT.home.buttonHref,
  overlayClass = 'bg-primary-black/60',
  textClass = '',
  titleClass = 'text-primary-black',
  descriptionClass = 'text-primary-black font-outfit',
  buttonVariant = 'custom',
  buttonClass = 'bg-primary-beige text-primary-black hover:bg-primary-black hover:text-primary-white transition-colors shadow-lg',
  heightClass = 'h-[50vh] md:h-[75vh]', // Altura por defecto
} = Astro.props;
---
<section class={`relative ${heightClass} flex items-center justify-center overflow-hidden`}>
  {image && (
    <Image
      src={image}
      alt={title}
      width={1920}
      height={1280}
      class="absolute inset-0 w-full h-full object-cover"
      loading="eager"
      decoding="sync"
      fetchpriority="high"
    />
  )}
  <div class={`absolute inset-0 ${overlayClass}`}></div>
  <div class={`relative z-10 text-center max-w-2xl mx-auto px-4 ${textClass}`}>  
    <h2 class={`text-4xl md:text-6xl font-instrument font-bold mb-6 drop-shadow-lg ${titleClass}`}>{title}</h2>
    <p class={`md:text-2xl mb-8 drop-shadow ${descriptionClass}`}>{description}</p>
    {buttonText && (
      <Button href={buttonHref} variant={buttonVariant} class={buttonClass}>{buttonText}</Button>
    )}
  </div>
</section>
