---
import StudioSpace from '@/components/studio/StudioSpace.astro';
import { STUDIO_SPACES_FULL } from '@/utils';
---

<section class="section-padding">
  <div class="container mx-auto container-padding">
    {STUDIO_SPACES_FULL.map((space) => (
      <StudioSpace 
        id={space.id}
        title={space.title}
        description={space.description}
        reverse={space.id === 'color-backgrounds' || space.id === 'black-zone'}
        features={space.features}
        idealFor={space.idealFor}
      />
    ))}
  </div>
</section>
